.wrapper {
  width: 1024px;
  margin: 0 auto 0 auto;
}

#title {
  font-weight: 3em;
  margin: 0;
}

#timestamp {
  color: #858585;
  margin-top: 0;
}

p {
  font-family: 'Merriweather', serif;
}

h1, h2, h3, h4 {
  font-family: 'Hedvig Letters Sans', sans-serif;
}
