html
    head
        title Home : Adam Tuechler
        link(href="style.css" rel="stylesheet")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Merriweather&family=Hedvig+Letters+Sans&family=IBM+Plex+Mono&display=block" rel="stylesheet")
    body
        .header
            a(href="/") Home
        .wrapper
            .pagelist
                h1 Entries
                each page in sortedPages
                    p.page= new Date(page.datetime).toLocaleDateString('en-AU', { day: 'numeric', month: 'long', year: 'numeric' })
                        a(href=`${page.contentPath}`) #{page.title}
