html
    head
        title #{frontMatter.title} : Adam Tuechler
        link(href="style.css" rel="stylesheet")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Merriweather&family=Hedvig+Letters+Sans&display=swap" rel="stylesheet")
    body
        .wrapper
            h1#title #{frontMatter.title}
            p#timestamp= new Date(frontMatter.datetime).toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })
            div.content !{contentHTML}
